<a href="images/gallery/image-3.jpg" data-rel="colorbox" class="cboxElement url">
	<img width="150" height="150" alt="150x150" src="images/gallery/thumb-3.jpg">
	<div class="text">
		<div class="inner">Sample Caption on Hover</div>
	</div>
</a>

<div class="tools tools-bottom">
	<a href="#">
		<i class="ace-icon fa fa-link"></i>
	</a>

	<a href="#">
		<i class="ace-icon fa fa-paperclip"></i>
	</a>

	<a href="#">
		<i class="ace-icon fa fa-pencil"></i>
	</a>

	<a href="#">
		<i class="ace-icon fa fa-times red"></i>
	</a>
</div>
